.header {
	height: 100%;
	padding-right: 50px;
	padding-left: 100px;
	padding-top: 40px;
	background-color: rgba(0, 88, 139, .75);
}

.header__top {
	margin-bottom: 30px;
	position: relative;
}

.header-user {
	position: absolute;
	right: -1px;
	top: 5px;
	.avatar {
		float: left;
		margin-left: -64px;
		margin-right: 14px;
	}
	.button {
		margin-right: 23px;
		&:last-child {
			margin-right: 0px;
		}
	}
}


}

.header__nav {

}

.header__nav-link {
	
	&--active {
		
	}
}
