.blog-post
	h1.title-1 Национальный парк Йосемити
	.blog-post__info
		+link('Емельян Казаков', '#').blog-post__info-item.blog-post__info-item--name
		+link('Путешествия', '#').blog-post__info-item.blog-post__info-item--tag
		+link('16 марта 2017', '#').blog-post__info-item.blog-post__info-item--date
		+link('2 комментария', '#').blog-post__info-item.blog-post__info-item--comments
	.blog-post__img
		img(src="../../img/blog/yosemity.jpg", alt="Йосемити")
	.blog-post__content.user-content 
		p.
			Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов. 
		p.
			Центром парка является долина #[a(href="#") Йосемити] , круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.