.header-admin
	.header-admin__user
		+avatar("../../../img/avatars/avatar-1.jpg", "Юрий Ключевский", "avatar--small")
		.header-admin__user-data
			.header-admin__name Юрий Ключевский
			+badge('Администратор')
	.admin-nav
		+linkIcon('Пост', '#', 'fa-plus-circle link__icon').admin-nav__link
		+linkIcon('Работа', '#', 'fa-plus-circle link__icon').admin-nav__link
		+linkIcon('Обо мне', '#', 'fa-edit link__icon').admin-nav__link
		+linkIcon('Контакты', '#', 'fa-edit link__icon').admin-nav__link
		+linkIcon('Сообщения', '#', 'fa-envelope link__icon').admin-nav__link
	.admin-nav__exit
		+linkIcon('Выход', '#', 'fa-sign-out-alt link__icon').admin-nav__link
.header-bg
	.header
		.header__top
			+logo('Digital Lifestyle', 'Сайт IT специалиста')
		ul.header__nav
			+linkList('Главная', '#').header__nav-link.header__nav-link--active
			+linkList('Обо мне', '#').header__nav-link
			+linkList('Работы', '#').header__nav-link
			+linkList('Блог', '#').header__nav-link
			+linkList('Контакты', '#').header__nav-link


