//- Header GUEST

.title-medium.mb-30 Шапка - Гость

header.header-bg
	.header
		.header__top
			+logo('Digital Lifestyle', 'Сайт IT специалиста')
			+userStatus(false)
			//- .header-user
			//- 	+link('Регистрация', '#').header-user__link
			//- 	+link('Вход', '#').header-user__link
		ul.header__nav
			+linkList('Главная', '#').header__nav-link.header__nav-link--active
			+linkList('Обо мне', '#').header__nav-link
			+linkList('Работы', '#').header__nav-link
			+linkList('Блог', '#').header__nav-link
			+linkList('Контакты', '#').header__nav-link

//- Header USER

.title-medium.mt-40.mb-30 Шапка - Пользователь

header.header-bg
	.header
		.header__top
			+logo('Digital Lifestyle', 'Сайт IT специалиста')
			+userStatus(true)
			//- .header-user
			//- 	+avatar("../../../img/avatars/avatar-1.jpg", "Юрий Ключевский", "avatar--small")
			//- 	.header-user__name Юрий Ключевский
			//- 	.header-user__badge Пользователь
			//- 	+button-profile('Профиль', '#')
			//- 	+button-profile('Выход', '#')
		ul.header__nav
			+linkList('Главная', '#').header__nav-link.header__nav-link--active
			+linkList('Обо мне', '#').header__nav-link
			+linkList('Работы', '#').header__nav-link
			+linkList('Блог', '#').header__nav-link
			+linkList('Контакты', '#').header__nav-link