.header 
	.block-left
		.block-left__icon
			<i class="fas fa-location-arrow"></i>
		
		.block-left__titledesc
			.header-title
				h2 Digital Lifestyle
				h5 Сайт IT специалиста

			.header-nav
				ul
					li
						a(href="#" target="_blank")
							| Главная

					li
						a(href="#" target="_blank")
							| Обо мне

					li
						a(href="#" target="_blank")
							| Работы

					li
						a(href="#" target="_blank")
							| Блог

					li
						a(href="#" target="_blank")
							| Контакты


	.block-right.user
		
		.user-image
			img(src="../../img/avatars/avatar-1.jpg")

		.user-name
			h4 Юрий Ключевский
			h5 Пользователь

			.nav-link
				ul
					li
						a(href="#" target="_blank")
							| Профиль

								
					li
						a(href="#" target="_blank")
							| Выход