.title-medium.mb-30 Шапка - Гость

header.header-bg
	.header
		.header__top
			+logo('Digital Lifestyle', 'Сайт IT специалиста')
			+userStatus(false)
		ul.header__nav
			+linkList('Главная', '#').header__nav-link.header__nav-link--active
			+linkList('Обо мне', '#').header__nav-link
			+linkList('Работы', '#').header__nav-link
			+linkList('Блог', '#').header__nav-link
			+linkList('Контакты', '#').header__nav-link

//- Header USER
.title-medium.mt-40.mb-30 Шапка - Пользователь

header.header-bg
	.header
		.header__top
			+logo('Digital Lifestyle', 'Сайт IT специалиста')
			+userStatus(true)
		ul.header__nav
			+linkList('Главная', '#').header__nav-link.header__nav-link--active
			+linkList('Обо мне', '#').header__nav-link
			+linkList('Работы', '#').header__nav-link
			+linkList('Блог', '#').header__nav-link
			+linkList('Контакты', '#').header__nav-link