.pagination
	a.pagination__item.pagination__item--prev(href="#") Назад
	a.pagination__item(href="#") 01
	a.pagination__item(href="#") 02
	a.pagination__item(href="#") 03
	a.pagination__item(href="#") 04
	a.pagination__item(href="#") 05
	a.pagination__item.pagination__item--next(href="#") Вперед