.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Формы", "forms.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Ошибки", "errors.html")
			+linkLeftPanel("Анимация загрузки", "page-spinner.html")
		
	//- .left-panel__section
	//- 	p.strong Секции
	//- 	.left-panel-nav
	//- 		+linkLeftPanel("Добавить комментарий", "comment-add.html")
	//- 		+linkLeftPanel("Комментарии", "comments.html")
	//- 		+linkLeftPanel("Комментарий регистрация", "comment-register.html")
	//- 		+linkLeftPanel("Пост в блоге", "blog-post.html")
	//- 		+linkLeftPanel("Пагинация", "pagination.html")
	//- 		+linkLeftPanel("Сообщение от пользователя", "user-message.html")
	//- 		+linkLeftPanel("Вспомогательные элементы", "elements.html")
	//- 		+linkLeftPanel("Шапка администратора", "header-admin.html")
	//- 		+linkLeftPanel("Шапка общая", "header.html")
	//- 		+linkLeftPanel("Подвал сайта", "footer.html")
		
	//- .left-panel__section
	//- 	p.strong Страницы
	//- 	.left-panel-nav
	//- 		+linkLeftPanel("Вход на сайт", "../login.html")
	//- 		+linkLeftPanel("Регистрация", "../registration.html")
	//- 		+linkLeftPanel("Страница Блог - с отдельным постом", "../blog-full-post.html")
	//- 		+linkLeftPanel("Фильмотека", "../filmoteka.html")