p {
	margin: 0;
}

.comment{
	padding: 50px 5px;
	border-radius: 6px;
	background-color: rgb(238, 240, 242);
	z-index: 18;
}

.comment--register {
	font-size: 20px;
	font-family: "Open Sans";
	line-height: 1.7;
	text-align: center;
	z-index: 19;
}

.comment-register_link {
	color: rgb(3, 126, 198);
}

