.comment{
	padding: 30px 5px;
	border-radius: 6px;
	background-color: rgb(238, 240, 242);
}

.comment--register {
	font-size: 20px;
	font-family: "Open Sans";
	line-height: 1.7;
	text-align: center;
}

.comment-register_link {
	color: rgb(3, 126, 198);
}

