mixin file-upload(title, number, imgPath)
	-var idName = "#file-" + number;

	if imgPath
		.file-upload
			fieldset
				legend
					.title-6.mb-2 #{title}
					.legend__descr 
						block
				input(id = idName type = "file" name = "file" + "-" + number data-multiple-caption = "{count} файлов выбрано" multiple ).inputfile
				label(for = idName) Выбрать файл
				span Файл не выбран
			.file-upload__thumb
				img(src = '../img/blog/img-post-uploaded.jpg')
				+button-delete('Удалить', '#') Удалить
	else
		.file-upload
			fieldset
				legend
					.title-6.mb-2 #{title}
					.legend__descr 
						block
				input(id = idName type = "file" name = "file" + "-" + number data-multiple-caption = "{count} файлов выбрано" multiple ).inputfile
				label(for = idName) Выбрать файл
				span Файл не выбран










