mixin test-form(title, type, name, placeholder)
		.title-medium #{title}
		input(type = type, name = name, placeholder = placeholder).input.pl-15.mb-15

mixin textarea(name, placeholder, label)
	if label
		.title-medium.pb-15 #{label}
		textarea( class = 'textarea pl-15 pt-15 pr-15 pb-30',  name= name, placeholder= placeholder)
	else
		textarea( class = 'textarea pl-15 pt-15 pr-15 pb-30',  name= name, placeholder= placeholder)