mixin textInput(name, type, placeholder, label)
	if label
		.title-6 #{label}
		input(type = type, name = name, placeholder = placeholder).input
	else
		input(type = type, name = name, placeholder = placeholder).input

mixin textarea(name, placeholder, label)
	if label
		.title-6 #{label}
		textarea( class = 'textarea',  name = name, placeholder = placeholder)
	else
		textarea( class = 'textarea',  name = name, placeholder = placeholder)

mixin radioButton(name, value, text)
	label.form-radio__label
		input.form-radio__input(type = 'radio', name = name, value = value)
		span.form__radio__text
		| #{text}