mixin textInput(name, type, placeholder, label)
	if label
		.title-medium.pb-15 #{label}
		input(type = type, name = name, placeholder = placeholder).input
	else
		input(type = type, name = name, placeholder = placeholder).input

mixin textarea(name, placeholder, label)
	if label
		.title-medium.pb-15 #{label}
		textarea( class = 'textarea pl-15 pt-15 pr-15 pb-30',  name= name, placeholder= placeholder)
	else
		textarea( class = 'textarea pl-15 pt-15 pr-15 pb-30',  name= name, placeholder= placeholder)