// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

//- Badge

mixin badge(text)
	.badge #{text}

//- LOGO

mixin logo(title, subtitle)
	.logo
		.logo__icon
			i(class="far fa-paper-plane")
		.logo__text
			a(href="#").header-logo__title #{title}
			.header-logo__sub #{subtitle}


