extends ../layouts/clean.pug

block variables
	- var title = 'Добавить работу'
	- var pageClass = ''

block content
	include ../sections/header-admin.pug

	.container
		.title-1.mt-55.mb-35 Добавить работу

		.title-6.mt-0.mb-10 Название
		+textInput('firstname', 'text', 'Введите название работы')

		.title-6.mt-25.mb-5 Изображение 
		.title-7 Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.
		
		+file-upload()

		.title-6.mt-25.mb-10 Содержание
		+textarea('message', 'Введите описание')

		.title-6.mt-25.mb-10 Результат
		+textarea('message', 'Введите описание')

		.title-6.mt-25.mb-10 Технологии
		+textarea('message', 'Введите описание')
		
		.row
			.col-md-auto
				.title-6.mt-25.mb-10 Ссылка на проект
				+textarea-link('text', 'Введите ссылку')
			.col-md-auto
				.title-6.mt-25.mb-10 Ссылка на GitHub
				+textarea-link('text', 'Введите ссылку')

		.row.mt-30.mb-100
			.col-md-auto
				+button-save('Сохранить', '#')
			.col-md-auto
				+button('Отмена','#')

	include ../sections/footer.pug
