extends ../layouts/clean.pug

block variables
	- var title = 'Блог - страница с постом'
	- var pageClass = 'blog-post-page'

	include ../sections/header-admin.pug

	.container.mt-50.mb-120
		.row.justify-content-center
			.col-md-10
				+button-edit('Редактировать', '#')
				include ../sections/blog-post.pug
			.col-md-10.buttons-flex
				+buttonLeft('Назад','#','fa-arrow-left')
				+button('Вперед','#','fa-arrow-right')

		.row.justify-content-center
			.col-md-10
				.title-2 2 комментария
				.comment-wrap
					+avatar("../../../img/avatars/avatar-2.jpg", "Джон До", "avatar--small")
					.comment__content
						.comment__header
							.comment__user-name Джон До
							.comment__date #[i.far.fa-clock] 05 Мая 2017 года в 15:45
						.comment__text Замечательный парк, обязательно отправлюсь туда этим летом.

				.comment-wrap
					+avatar("../../../img/avatars/avatar-2.jpg", "Джон До", "avatar--small")
					.comment__content
						.comment__header
							.comment__user-name Джон До
							.comment__date #[i.far.fa-clock] 05 Мая 2017 года в 15:45
						.comment__text Замечательный парк, обязательно отправлюсь туда этим летом.

				.title-2 Оставить комментарий
				include ../sections/comment-add.pug

	include ../sections/footer.pug



