extends ../layouts/clean.pug

block variables
	- var title = 'Блог - страница добавления поста'
	- var pageClass = ''

block content
	include ../sections/header-admin.pug
	.container.mb-120
		.row.mb-20.mt-40.align-items-center
			.col-md-8
				.title-1 Добавить пост

			
		
		

	include ../sections/footer.pug