extends ../layouts/main.pug
block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page footer-bottom'
	
	include ../layouts/_head-part.pug

block content
	include ../sections/header-admin.pug
	.container.mt-80.mb-80
		.row.resume
			.hidden-xs.col-sm-2.col-lg-3.pr-30.pl-30
				+avatar("../../../img/avatars/photo-big.jpg", "Емельян Казаков")
			.col-sm-10.col-lg-9
				h1.title-1.title-1--resume.m-0 Емельян Казаков
				p Я веб разработчик из Рязани. Мне 28 лет. <br>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. <br>Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				h3.title-3 Что я умею
				p Меня привлекет Frontend разработка, это не только моя работа, но и хобби. Также знаком и могу решать не сложные задачи на Backend.
				p.mb-40 Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
				+button('Подробнее', '#')
	.hr-line.mb-80.mt-80
	.container.mb-80
		h1.title-1 Новые 
			a(href="#") работы
		.row
			.col-md-4
				+cardPortfolio('../../../img/cards/portfolio-card-item-1.jpg', 'Верстка Landing Page', '#')
			.col-md-4
				+cardPortfolio('../../../img/cards/portfolio-card-item-2.jpg', 'Верстка UI набора', '#')
			.col-md-4
				+cardPortfolio('../../../img/cards/portfolio-card-item-3.jpg', 'Верстка интернет магазина', '#')
	.container.mb-80
		h1.title-1.mb-40 Новые записи в 
			a(href="#") блоге
		.row
			.col-md-4
				+cardBlogPost('../../../img/cards/blog-card-item-1.jpg', 'Поездка в New York', '#')
			.col-md-4
				+cardBlogPost('../../../img/cards/blog-card-item-2.jpg', 'Что я делал в долине', '#')
			.col-md-4
				+cardBlogPost('../../../img/cards/blog-card-item-3.jpg', 'Как я ходил в поход  этим летом', '#')

	include ../sections/footer.pug
	include ../layouts/_footer-part.pug
	