extends ../layouts/main.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page footer-bottom'

block content
	h3 Заготовка для главной страницы сайта
	h1 Емельян Казаков
	p Я веб разработчик из Рязани. Мне 28 лет. <br>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
	p Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. <br>Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
	h3 Что я умею
	p Меня привлекет Frontend разработка, это не только моя работа, но и хобби. Также знаком и могу решать не сложные задачи на Backend.
	p Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
	+button('Подробнее', '#')
