extends ../layouts/clean.pug

block variables
	- var title = 'Отдельная работа'
	- var pageClass = 'single-work-page'

block content
	include ../sections/header-only-admin.pug

	.single-work__bg
		.single-work__bg-opacity
			.single-work__bg-gradient.pt-40.pb-30
				+logoDark('Digital Lifestyle', 'Сайт IT специалиста')
				.container.single-work-title
					+button-edit('Редактировать', '#')
					.row
						.col-10.offset-1
							.single-work-title__title.mb-15 Верстка и frontend Интернет магазина
							+link('Емельян Казаков','#').single-work-title__link
							+link('Работы','#').single-work-title__link.single-work-title__link--tag
							+link('16 марта 2017','#').single-work-title__link

							a(href='../img/works/d-ausmaids-home.jpg').single-work-title__img
	.container.single-work-desc
		.row.mb-30
			.col-5.offset-1
				.single-work-desc__title Кратко о проекте
				p.single-work-desc__text Сделана верстка и фронтэнд для интернет магазина мебели. Сверстано более 50-ти страниц. Сделаны все эффекты и интерактив. В работе использованы препроцессоры pug и less. Интерактив написан на JavaScript. Весь проект протестирован на своместимость, начиная с IE9. Для старых браузеров использован подход Graceful Degradation.
				p.single-work-desc__text.single-work-desc__text--strong Время работы над проектом: 6 недель
				p.single-work-desc__text.single-work-desc__text--strong Страниц сверстано: 52 страницы
				p.single-work-desc__text.single-work-desc__text--strong Бюджет проекта: до 60 000 рублей
				.single-work-desc__title.single-work-desc__title--smaller Результат
				p.single-work-desc__text Проект сделан в срок. Заказчик доволен. Сайт запущен, работает и уже радует покупками посетителей и владельцев бизнеса.
			.col-5
				.single-work-desc__title Технологии
				ul.single-work-desc__list
					li.single-work-desc__list-item • HTML5, CSS3.
					li.single-work-desc__list-item • JavaScript, jQuery.
					li.single-work-desc__list-item • LESS, PUG, Gulp, npm, bower.
				.single-work-desc__title Ссылка на проект
				a(href='http://magnum-store.ru').single-work-desc__link.mt-5.mb-40 http://magnum-store.ru
				.single-work-desc__title Код на github
				a(href='https://github.com/pozitive/magnumstore/').single-work-desc__link.mt-5 https://github.com/pozitive/magnumstore/
		.row
			.col-10.offset-1.single-work-buttons
				+buttonLeft('Все работы','#','fa-arrow-left')
				+button('Следующая работа','#','fa-arrow-right')






	include ../sections/footer.pug