<!-- build:jsLibs js/libs.js -->
script(src="../libs/jquery/jquery.min.js")
<!-- endbuild -->

<!-- build:jsVendor js/vendor.js -->
block scripts
	script(src="../libs/jquery-custom-scrollbar/jquery.custom-scrollbar.js")
<!-- endbuild -->

<!-- build:jsMain js/main.js -->
script(src="../js/main.js")
<!-- endbuild -->

script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")