include _mixins-links.pug

block variables

<!DOCTYPE html>
html(lang="ru")
	head
		// include ./_head-part.pug
		
	body(class=pageClass)

		// include ../sections/header-admin.pug
		// include ../sections/header.pug
		
		block content

		// include ../sections/footer.pug
		// include ./_footer-part.pug
