extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title Кнопки
			p
				em Одна кнопка ниже оформлена для примера.

			.section-ui
				+button('Подробнее', '#') 
			pre.
				+button('Подробнее', '#')
