extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title Кнопки
			
			.section-ui
				+button('Вперед','#','fa-arrow-right') 
			pre.
				+button('Вперед','#','fa-arrow-right')

			.section-ui
				+button('Подробнее', '#') 
			pre.
				+button('Подробнее', '#')

			.section-ui
				+button-edit('Редактировать', '#') 
			pre.
				+button-edit('Редактировать', '#')

			.section-ui
				+button-delete('Удалить', '#') 
			pre.
				+button-delete('Удалить', '#')

			.section-ui
				+button-save('Сохранить', '#') 
			pre.
				+button-save('Сохранить', '#')

			.section-ui
				+button-enter('Войти', '#') 
			pre.
				+button-enter('Войти', '#')

			.section-ui
				+button-profile('Профиль', '#') 
			pre.
				+button-profile('Профиль', '#')

			
				


