extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Комментарии - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Комментарии
			br

			.title-medium Комметарий - зарегистрироваться
			br
			
			.comment
				.comment--register
					p
						a.comment-register_link(href="#") Войдите
						|  или 
						a.comment-register_link(href="#") зарегистрируйтесь
						br
						|  чтобы оставить комментарий
			br
			p 
				em код:

			pre.
				.comment
					.comment--register
						p
							a.comment-register_link(href="#") Войдите
							|  или 
							a.comment-register_link(href="#") зарегистрируйтесь
							br
							|  чтобы оставить комментарий
			
