extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Элементы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Ошибки

			.section-ui
				+error('Комментарий не может быть пустым.')

				pre.
					+error('Комментарий не может быть пустым.')

			.section-ui
				+errorWithDesc('Данный email уже занят')
					p.
						Используйте другой email чтобы создать новый аккаунт.
					p.
						Или воспользуйтесь #[a(href="#" target="_blank") восстановлением пароля], чтобы войти на сайт.

				pre.
					+errorWithDesc('Данный email уже занят')
						p.
							Используйте другой email чтобы создать новый аккаунт.
						p.
							Или воспользуйтесь #&#91;a(href="#" target="_blank") восстановлением пароля&#93;, чтобы войти на сайт.

		