extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Форма загрузки изображении - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Форма загрузки изображении
		.section-ui
			+file-upload("Фотография", 1)
				p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
			pre.
				+file-upload("Фотография", 1)
					p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
			
			+file-upload("Фотография", 2)
				p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
			pre.
				+file-upload("Фотография", 2)
					p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
			
			+file-upload("Изображение", 3,'../img/blog/img-post-uploaded.jpg')
				p Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.
			pre.
				+file-upload("Изображение", 3,'../img/blog/img-post-uploaded.jpg')
					p Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.

	script(src="../js/custom-file-input.js")
