extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title Элементы формы

			.title-section Текстовые поля

			.section-ui
				.title-medium.mb-10 Поле для ввода
				+textInput('firstname', 'text', 'Введите имя')
			.section-ui
				pre.
					+textInput('firstname', 'text', 'Введите имя')

			.section-ui
				.title-medium.mb-10 Сообщение - Textarea
				+textarea('message', 'Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.')
			.section-ui
				pre.
					+textarea('message', 'Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.')

			.section-ui
				.title-section Радиокнопки
				
				fieldset
					+radioButton('option', 'option-1', 'Вариант 1')
					+radioButton('option', 'option-2', 'Вариант 2')
			.section-ui
				pre.
					+radioButton('option', 'option-1', 'Вариант 1')
					+radioButton('option', 'option-2', 'Вариант 2')

			.section-ui
				.title-section.mb-20 Кастомные чекбоксы

				.checklist
					+checkbox('checkbox', 'Запомнить меня').mr-60
					+checkbox('checkbox', 'Запомнить меня')
			.section-ui
				pre.
					+checkbox('checkbox', 'Запомнить меня')

			.section-ui
				.title-section Формы загрузки изображений
				+file-upload("Фотография", 1)
					p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
				pre.
					+file-upload("Фотография", 1)
						p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
				
				+file-upload("Фотография", 2)
					p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
				pre.
					+file-upload("Фотография", 2)
						p Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
				
				+file-upload("Изображение", 3,'../img/blog/img-post-uploaded.jpg')
					p Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.
				pre.
					+file-upload("Изображение", 3,'../img/blog/img-post-uploaded.jpg')
						p Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.

	script(src="../js/custom-file-input.js")
