extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left.user-content
			.section-ui
			.title Типографика
				 
			.user-content
				.container
					.row
						.col-4 
							.title  Заголовки
								h1 Заголовок 1
								h2 Заголовок 2
								h3 Заголовок 3
								h4 Заголовок 4
								h5 Заголовок 5
								h6 Заголовок 6
						.col-8 				
							.title  Текст - абзацы, ссылки в тексте		
							p Парк находится в горах #[a(href="site.ru") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км.
							p Центром парка является долина #[a(href="site.ru") Йосемити], круглый год переполненная туристами, зато в большой части парка никаких туристов нет.
								|  Если вы хотите погулять по территории парка, к вашим услугам огромная разветвленная система троп, по которым проложены маршруты длительностью от получаса до 
								| нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные  и птицы.				 
							.title Список
							ul
								li Первый пункт.
								li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвленная система троп, по которым проложены маршруты длительностью 
									|от получаса до нескольких дней.
								li Третий пункт.
