extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Сообщение от пользователя - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Сообщение от пользователя
			.section-ui
				+user-message('22 Августа 2017', 'Джон До', 'jhondoe@gmail.com', 'Avrora-platform.pdf')
					p.user-content Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронт энд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.
			pre.
				+user-message('22 Августа 2017', 'Джон До', 'jhondoe@gmail.com', 'Avrora-platform.pdf')
					p.user-content Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронт энд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.